<h3>Последние изученные материалы</h3>
<div class="activity-day clearfix">
<% @user_activities.each do |activity| %>
    <div class="activity-point">
      <h4><%= link_to activity.name, knowledge_path(activity.knowledge_id) %>
      <small><%= nice_russian_date(activity.created_at) %></small></h4>
      <div class="comment">
        <%= truncate(activity.comment, length: 255, separator: ' ', omission: '...') %>
      </div>
    </div>
    <hr>
<% end %>
</div>

<% content_for :sidebar do %>
    <%= render 'users/sidebar' %>
<% end %>
