<%= link_to 'Добавить знание', new_knowledge_path, class: "btn btn-success" %>

<div class="list">
<% @knowledges.each do |knowledge| %>
  <%= link_to knowledge.name, knowledge %> |
  <%= link_to 'Редактировать', edit_knowledge_path(knowledge) %>
  <br>
<% end %>
</div>
