// main css

@import 'colors';


body {
  color: #727272!important;
  font-family: Arial;
}

.user {

  a {
    color: $user;
  }
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 32px;
}

.sidebar {
  border: 1px solid gray;
  padding: 10px;
}

.gravatar {
  border-radius: 50%;
  padding: 0;
}

.h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto'!important;
  font-weight: 400;
  font-style: normal;
  //Добавить Робото Лайт
}

nav.mui {
  margin-bottom: 20px;
  background-color: #243241!important;
  height: 78px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 78px;

  a {
    color: #fff!important;
    margin: 0 15px;

    &:hover {
      color: #f1c40f!important;
      text-decoration: none;
    }
  }

  ul.navigation {
    display: inline-block;
    li {
      display: inline;
    }
  }

  .logo {
    line-height: 78px;
    font-size: 22px;
    font-family: 'Roboto';
    color: #fff;
    display: inline-block;
  }

  .navigation {
    line-height: 75px;
  }
}

.btn.mui-blue {
  background-color: #0066cb!important;
  border: none!important;
  border-color: transparent!important;
  margin: 0;
  color: #fff!important;
  font-size: 13px!important;
}

.dropdown-menu.mui-dropdown {
  a {
    color: #888!important;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: #4181bf!important;
      background-color: #ade3ff!important;
      border-radius: 3px;
    }
  }
}
