<%= link_to 'Добавить активность', new_activity_path, class: "btn btn-primary" %>

<div class="list">
<% @activities.each do |activity| %>
  <%= link_to activity.name, activity %>

  <br>
<% end %>
</div>
