<%= link_to 'Добавить активность', new_activity_path, class: "btn btn-primary" %>
<% if current_user %>

<div class="activity-list">
<% @activities.each do |day, activities| %>
<div class="activity-day clearfix">
  <h3><%= nice_russian_date day %></h3>
  <br>
  <% activities.each do |activity| %>
    <div class="col-md-4">
    <div class="activity-card">
        <h4><%= link_to activity.name, activity %></h4>
        <div class="comment">
          <%= activity.comment %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
</div>


<br>
<% end %>
